.short_description{
    font-size:80%
}

a{
    color: #0054a5 !important;
    text-decoration: none !important;
}

.navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: auto;
    margin: 0 auto;
    /* probably not needed anymore, but doesn't hurt */
    -o-object-fit: contain;
    object-fit: contain;

 }

 .bb-dot{
	border-bottom:1px dotted #CCC
}


.border-top-dot{
    margin:5px ;
    border-bottom:2px dotted #6c757d;
}


.h374{
    max-height: 155px;
}

.f8f9fa{
    background-color:#f8f9fa
}

.sub-category{
    color: #dc3545 !important;
}

@media only screen and (max-width: 600px) {
    .sub-category{
        color: #dc3545 !important;
        font-size:85%
    }
  }


#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f8f9fa;
    color: #0054a5;
    cursor: pointer;
    border: 1px solid #dc3545;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}